.taskDetailsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 10px;
}

.taskDetailsTitle{
    font-size: 32px;
    font-weight: bold;
}

.taskDetailsDescription, .taskDetailsStatus, .taskDetailsPriority, .taskDetailsCreatedAt, .taskDetailsDeadline{
    font-size: 20px;
    font-weight: normal;
    color: white;
    opacity: 0.5;
}
