:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  padding: 0;
  margin: 0;
}

body {
  padding: 2em 5em;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #181818;
}


ul{
  display: flex;
  justify-content: center;
  list-style: none;
  
  padding: 0;
  margin: 0;

  gap: 20px;
}


button {
  background-color: #2d2d2d;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition:opacity 500ms;
}

button:hover{
  opacity: 0.75;
}

button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}