:root {
    --color-bg: #121212;         
    --color-surface: #1e1e1e;

    --color-text: #e5e7eb;
    --color-text-muted: #9ca3af;

    --color-border: #2a2a2a;
    --font-family: "Montserrat", "Segoe UI", sans-serif;
    --font-size-base: 16px;
    --radius: 12px;
    --transition: 0.25s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-bg);
    font-family: var(--font-family);
    color: var(--color-text);
}

header{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

header h1{
    color: var(--color-border)
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content:center;
    list-style-type: none;

    padding: 0 150px;
    gap: 20px
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 10px;

    width: 100%;
    padding: 20px;

    border-radius: 10px;
    border: none;
    background: var(--color-border);
    color: var(--color-text);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

button:hover {
    opacity: 0.5;
}

table{
    padding: 25px 20px;
}


th{
    border: 1px solid var(--color-border);
    padding: 15px;
    text-align: left;
    background: var(--color-border);
    border-radius: 15px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--color-bg);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    gap: 15px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    background: var(--color-bg);
    color: var(--color-text);
}

form textarea{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    background: var(--color-bg);
    color: var(--color-text);
}

form select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    background: var(--color-bg);
    color: var(--color-text);
}

.styleBoxLow {
  background-color: #585454; /* красный */
}
.styleBoxHigh {
  background-color: #640000; /* жёлтый */
}
.styleBoxMedium {
  background-color: #196400; /* зелёный */
}
